html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "source-han-sans-k-variable", sans-serif;
  font-variation-settings: "wght" 550;
	line-height: 1.3;
}

h2 {
    font-family: "source-han-sans-k-variable", sans-serif;
    font-variation-settings: "wght" 250;
    width: 500px;
	line-height: 1.3;
}

h3 {
    font-family: "source-han-sans-k-variable", sans-serif;
    font-variation-settings: "wght" 250;
	line-height: 1.3;
  padding-top: 20px;
  width: 600px;
}

h4 {
  font-family: "source-han-sans-k-variable", sans-serif;
  font-variation-settings: "wght" 550;
	line-height: 1.3;
  text-align: center;
}

h5 {
  font-family: "source-han-sans-k-variable", sans-serif;
  font-variation-settings: "wght" 750;
  font-size: 145px;
  text-align: center;
}

a {
  color: white;
  font-family: "source-han-sans-k-variable", sans-serif;
  font-variation-settings: "wght" 550;
	line-height: 1.3;
  text-align: center;
}

#chapter1, #chapter2, #chapter3, #chapter4, #chapter5, #chapter6, #chapter7, #chapter8, #chapter9 {
  padding-left: 15vw;
  background-color: black;
  color: #f1f1f1;
  width: 100vw;
  padding-top: 300px;
}

#chapter10 {
  background-color: black;
  color: #f1f1f1;
  width: 100vw;
  padding-top: 300px;
}

#intro {
  padding-left: 20px;
  background-color: white;
  color: black;
  width: 100vw;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} 

:root {
	--index: calc(1vw + 1vh);
	--gutter: 30px;
	--side-small: 26;
	--side-big: 36;
	--depth: 4100px;
	--transition: .75s cubic-bezier(0.075, .5, 0, 1);
}

body .indexContent {
	background-color: black;
	color: #fff;
  font-size: calc(var(--index) * .8);
  font-family: "source-han-sans-k-variable", sans-serif;
  font-variation-settings: "wght" 250;
	line-height: 1.75;
	height: var(--depth);
	font-weight: 300;
}

.container-index{
	width: 100%;
	height: 100%;
	position: fixed;
	perspective: 1500px;
  scroll-snap-align: start;
}

.gallery {
	transform-style: preserve-3d;
	height: 100%;
}

.frame {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition), opacity .75s ease;
	will-change: transform;
	transform-style: preserve-3d;
}

.frame h2 {
	text-align: center;
	font-size: calc(var(--index) * 3.3);
}

.frame-media {
	position: relative;
	width: calc(var(--index) * var(--side-small));
	height: calc(var(--index) * var(--side-big));
	background-position: center;
	background-size: cover;
}

.frame-media_left {
	right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}

.frame-media_right {
	left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}

video.frame-media {
	width: calc(var(--index) * var(--side-big));
	height: calc(var(--index) * var(--side-small));
}

video.frame-media_left {
	right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}

video.frame-media_right {
	left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}

.text-right > * {
	position: relative;
	left: 18vw;
}

.text-left > * {
	position: relative;
	right: 18vw;
}

.frame h3 {
	font-size: calc(var(--index));
    background-color: blue;
}

.frame p {
	max-width: 30vw;
	margin-top: 5vh;
}



/* explore page stuff */

body.exploreContent {
    display: flex;
    flex-direction: row;
    background-color: black;
	color: #fff;
    font-size: calc(var(--index) * .8);
    font-family: "source-han-sans-k-variable", sans-serif;
    font-variation-settings: "wght" 250;
	line-height: 1.75;
	font-weight: 300;
}

main {
    width: 25vw;
     display: flex;
     flex-direction: column;
    gap: 5px;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.container {
  width: 75vw;
    display: flex;
    flex-direction: row;
    overflow:auto;
    position:relative;
    align-items: flex-start;
  }
  .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 10px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }

  .accordian {
    max-height: 600px;
    outline: 2px dotted white;
  }
  input {
    display: none;
  }
  label {
    font-size: 30px;
    display: block;
    cursor: pointer;
    padding: 10px 10px 10px 30px;
    position: relative;
    user-select: none;
  }
  label:before {
    content: " ";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent white;
    height:0;
    font-size: 0;
    position: absolute;
    top: 18px;
    left: 10px;
    transition: transform 0.5s;
    transform-origin: 3px center;
  }
  .accordian div {
    font-size: 26px;  
    height:0;
    overflow:hidden;
    opacity:0;
  }
  input:checked ~ label:before {
    transform: rotate(90deg)
  }
  input:checked ~ div {
    padding: 10px;
    opacity: 1;
    height: auto;
  }

  .images {
    width: 75vw;
    height: auto;
  }
  .year2024 {
    width: auto;
  }